<%- include("header.ejs") %>
<%- include("navbar.ejs") %>
<div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <nav id="sidebarMenu" class="col-lg-2 d-lg-block sidebar collapse">
        <div class="position-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item text-center">
              <a class="nav-link active dashboard-sidebar__link" href="/dashboard">
                <i class="fa-solid fa-user"></i> <%= user.username %>
              </a>
            </li>
            <hr>
            
            <li class="nav-item mb-3">
                <a class="nav-link sidebar-link d-flex align-items-center" data-bs-toggle="collapse" href="#doctorsMenu" role="button">
                    <i class="fas fa-user-md"></i>&nbsp;
                    <span class="flex-grow-1">Doctors</span>
                    <i class="fa-solid fa-chevron-down arrow ms-auto"></i>
                </a>
                <div class="collapse menu" id="doctorsMenu">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li class="ps-3">
                            <a href="/add/doctor" class="nav-link">
                                <i class="fa-solid fa-user-plus"></i>&nbsp; Add Doctor
                            </a>
                        </li>

                        <li class="ps-3">
                            <a href="/view/doctor" class="nav-link">
                                <i class="fas fa-user-md"></i>&nbsp; View Doctors
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="nav-item mb-3">
                <a class="nav-link sidebar-link d-flex align-items-center" data-bs-toggle="collapse" href="#patientsMenu" role="button">
                    <i class="fas fa-users"></i>&nbsp;
                    <span class="flex-grow-1">Patients</span>
                    <i class="fa-solid fa-chevron-down arrow ms-auto"></i>
                </a>
              <div class="collapse ps-3 menu" id="patientsMenu">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li><a href="/patients/add" class="nav-link">Add Patient</a></li>
                  <li><a href="/patients/view" class="nav-link">View Patients</a></li>
                </ul>
              </div>
            </li>

            <li class="nav-item mb-3">
                <a class="nav-link sidebar-link d-flex align-items-center" data-bs-toggle="collapse" href="#employeesMenu" role="button">
                    <i class="fa-solid fa-user-nurse"></i>&nbsp;
                    <span class="flex-grow-1">Employees</span>
                    <i class="fa-solid fa-chevron-down arrow ms-auto"></i>
                </a>

              <div class="collapse ps-3 menu" id="employeesMenu">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li><a href="#" class="nav-link">Add Employee</a></li>
                  <li><a href="/change-password" class="nav-link">View Employees</a></li>
                </ul>
              </div>
            </li>

            <li class="nav-item mb-3">
                <a class="nav-link sidebar-link d-flex align-items-center" data-bs-toggle="collapse" href="#settingsMenu" role="button">
                    <i class="fa-solid fa-gear"></i>&nbsp;
                    <span class="flex-grow-1">Patients</span>
                    <i class="fa-solid fa-chevron-down arrow ms-auto"></i>
                </a>
              <div class="collapse ps-3 menu" id="settingsMenu">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li><a href="/profile" class="nav-link">Profile</a></li>
                  <li><a href="/change-password" class="nav-link">Change Password</a></li>
                  <li><a href="/delete-account" class="nav-link">Delete Account</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
</div>

<%- include("footer.ejs") %>