<%- include("header.ejs") %>
<%- include("navbar.ejs") %>
<div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <div class="col-lg-2 d-lg-block sidebar shadow">
        <nav class="position-sticky pt-3">
          <div class="position-sticky">
            <ul class="nav flex-column">
            <li class="nav-item text-center">
              <a class="nav-link active dashboard-sidebar__link" href="/dashboard">
                <i class="fa-solid fa-user"></i> <%= user.username %>
              </a>
            </li>
            <hr>
            
            <li class="nav-item mb-3">
                <a class="nav-link sidebar-link d-flex align-items-center" data-bs-toggle="collapse" href="#doctorsMenu" role="button">
                    <i class="fas fa-user-md"></i>&nbsp;
                    <span class="flex-grow-1">Doktorat</span>
                    <i class="fa-solid fa-chevron-down arrow ms-auto"></i>
                </a>
                <div class="collapse menu" id="doctorsMenu">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li class="ps-3">
                            <a href="/add/doctor" class="nav-link">
                                <i class="fa-solid fa-user-plus"></i>&nbsp; Shto doktor
                            </a>
                        </li>

                        <li class="ps-3">
                            <a href="/view/doctors" class="nav-link">
                                <i class="fas fa-user-md"></i>&nbsp; Shiko doktorat
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="nav-item mb-3">
                <a class="nav-link sidebar-link d-flex align-items-center" data-bs-toggle="collapse" href="#patientsMenu" role="button">
                    <i class="fas fa-users"></i>&nbsp;
                    <span class="flex-grow-1">Pacientat</span>
                    <i class="fa-solid fa-chevron-down arrow ms-auto"></i>
                </a>
              <div class="collapse ps-3 menu" id="patientsMenu">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li>
                    <a href="/add/patient" class="nav-link">
                      <i class="fa-solid fa-user-plus"></i>&nbsp; Shto pacient
                    </a>
                  </li>
                  <li>
                    <a href="/view/patients" class="nav-link">
                      <i class="fas fa-users"></i>&nbsp; Shiko pacientat
                    </a>
                  </li>
                </ul>
              </div>
            </li>

            <li class="nav-item mb-3">
                  <a class="nav-link sidebar-link d-flex align-items-center" data-bs-toggle="collapse" href="#refersMenu" role="button">
                      <i class="fas fa-user-md"></i>&nbsp;
                      <span class="flex-grow-1">Referuesit</span>
                      <i class="fa-solid fa-chevron-down arrow ms-auto"></i>
                  </a>
                  <div class="collapse ps-3 menu" id="refersMenu">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                      <li>
                        <a href="/patients/add" class="nav-link">
                          <i class="fa-solid fa-user-plus"></i>&nbsp; Shto referues
                        </a>
                      </li>
                      <li>
                        <a href="/patients/view" class="nav-link">
                          <i class="fas fa-user-md"></i>&nbsp; Shiko referuesit
                        </a>
                      </li>
                    </ul>
                  </div>
              </li>

            <li class="nav-item mb-3">
                <a class="nav-link sidebar-link d-flex align-items-center" data-bs-toggle="collapse" href="#settingsMenu" role="button">
                    <i class="fa-solid fa-gear"></i>&nbsp;
                    <span class="flex-grow-1">Cilesimet</span>
                    <i class="fa-solid fa-chevron-down arrow ms-auto"></i>
                </a>
                <div class="collapse ps-3 menu" id="settingsMenu">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li>
                      <a href="/profile" class="nav-link">
                        <i class="fa-solid fa-user"></i>&nbsp; Profili
                      </a>
                    </li>

                    <li>
                      <a href="/profile/change-password" class="nav-link">
                        <i class="fa-solid fa-lock"></i>&nbsp; Ndrro fjalkalimin
                      </a>
                    </li>
                    
                    <li>
                      <a href="/profile/delete-account" class="nav-link">
                        <i class="fa-solid fa-trash"></i>&nbsp; Fshij llogarin
                      </a>
                    </li>

                    <li>
                      <a href="/logout" class="nav-link">
                         <i class="fa-solid fa-arrow-right-from-bracket"></i> Dil
                      </a>
                    </li>
                  </ul>
                </div>
            </li>
          </ul>
          </div>
        </nav>
      </div>
    </div>
</div>

<%- include("footer.ejs") %>