<nav class="navbar navbar-expand-lg bg-info">
  <div class="container d-flex justify-content-between align-items-center">
    <a class="navbar-brand text-light" href="#">App</a>

    <!-- Hamburger Button -->
    <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible Menu -->
    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav ms-auto d-flex align-items-start flex-column flex-lg-row gap-2 gap-lg-3 mt-3 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link text-light link" href="/">Home</a>
        </li>

        <% if (!locals.user) { %>
          <li class="nav-item">
            <a class="nav-link text-light link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light link" href="/register">Register</a>
          </li>
        <% } else { %>
          <li class="nav-item dropdown custom-hover-dropdown">
            <a class="nav-link text-light d-flex align-items-center gap-1 dropdown-trigger" href="#" role="button">
              <%= user.username.charAt(0).toUpperCase() + user.username.slice(1) %>
              <i class="fa-solid fa-chevron-down arrow"></i>
            </a>

            <ul class="dropdown-menu custom-dropdown-menu">
              <li>
                <a class="dropdown-item" href="/profile">
                  <i class="fa-solid fa-user"></i> Profile
                </a>
              </li>

              <!-- Doctors -->
              <li class="dropdown-submenu dropdown-toggle-submenu">
                <a class="dropdown-item d-flex justify-content-between align-items-center" href="#">
                  <span><i class="fa-solid fa-user-doctor"></i> Doctors</span>
                  <i class="fa-solid fa-chevron-down submenu-arrow"></i>
                </a>
                <ul class="submenu dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="/doctors/add">
                      <i class="fa-solid fa-user-plus"></i> Add Doctor
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item m-bottom" href="/doctors/view">
                      <i class="fa-solid fa-user-doctor"></i> View Doctors
                    </a>
                  </li>
                </ul>
              </li>

              <!-- Patients -->
              <li class="dropdown-submenu dropdown-toggle-submenu">
                <a class="dropdown-item d-flex justify-content-between align-items-center" href="#">
                  <span><i class="fa-solid fa-hospital-user"></i> Patients</span>
                  <i class="fa-solid fa-chevron-down submenu-arrow"></i>
                </a>
                <ul class="submenu dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="/patients/add">
                      <i class="fa-solid fa-user-plus"></i> Add Patient
                    </a>
                  </li>
                  <li>
                    <a class="dropdown-item m-bottom" href="/patients/view">
                      <i class="fa-solid fa-users"></i> View Patients
                    </a>
                  </li>
                </ul>
              </li>

              <hr class="dropdown-divider">

              <li>
                <a class="dropdown-item logout" href="/logout">
                  <i class="fa-solid fa-arrow-right-from-bracket"></i> Logout
                </a>
              </li>
            </ul>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
