<!-- Modal Info -->
<div class="modal fade" id="viewPatientModal" tabindex="-1" aria-labelledby="viewPatientLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="viewPatientLabel">Detajet e pacientit</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Mbyll"></button>
        </div>

        <div class="modal-body">
        <p><strong>Emri:</strong> <span id="modal-first"></span></p>
        <p><strong>Emri i prindit:</strong> <span id="modal-parent"></span></p>
        <p><strong>Mbiemri:</strong> <span id="modal-last"></span></p>
        <p><strong>Gjinia:</strong> <span id="modal-gender"></span></p>
        <p><strong>Email:</strong> <span id="modal-email"></span></p>
        <p><strong>Datëlindja:</strong> <span id="modal-birthday"></span></p>
        <p><strong>Lloji i moshës:</strong> <span id="modal-age-type"></span></p>
        <p><strong>Numri Personal:</strong> <span id="modal-personalnum"></span></p>
        <p><strong>Qyteti:</strong> <span id="modal-city"></span></p>
        <p><strong>Adresa:</strong> <span id="modal-address"></span></p>
        <p><strong>Sigurimi:</strong> <span id="modal-insurance"></span></p>
        <p><strong>Komenti:</strong> <span id="modal-comment"></span></p>
        <p><strong>Eshte perditsuar:</strong> <span id="modal-updated"></span></p>
        </div>
    </div>
  </div>
</div>

<!-- Modal për Editim Pacienti -->
<div class="modal fade" id="editPatientModal" tabindex="-1" aria-labelledby="editPatientLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <form action="/edit/patient" method="POST" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editPatientLabel">Ndrysho të dhënat e pacientit</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Mbyll"></button>
      </div>
      <div class="modal-body">
        <input type="hidden" name="id" id="edit-id">
        <div class="row mt-3">
          <!-- Emri -->
          <div class="col-lg-4">
            <label for="fName" class="form-label">Emri</label>
            <div class="input-group mt-1">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
              <input type="text" class="form-control" placeholder="Emri..." id="fName" name="fName">
            </div>
          </div>

          <!-- Emri i prindit -->
          <div class="col-lg-4">
            <label for="parentsName" class="form-label">Emri i prindit</label>
            <div class="input-group mt-1">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
              <input type="text" class="form-control" placeholder="Emri i prindit..." id="parentsName" name="parentsName">
            </div>
          </div>

          <!-- Mbiemri -->
          <div class="col-lg-4">
            <label for="lName" class="form-label">Mbiemri</label>
            <div class="input-group mt-1">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
              <input type="text" class="form-control" placeholder="Mbiemri..." id="lName" name="lName">
            </div>
          </div>

          <!-- Email -->
          <div class="col-lg-4 mt-3">
            <label for="email" class="form-label">Email</label>
            <div class="input-group mt-1">
              <span class="input-group-text"><i class="fas fa-envelope"></i></span>
              <input type="email" class="form-control" placeholder="Email..." id="email" name="email">
            </div>
          </div>

          <!-- Gjinia -->
          <div class="col-lg-4 mt-3">
            <label for="gender" class="form-label">Gjinia</label>
            <div class="input-group">
              <span class="input-group-text"><i class="fas fa-mars"></i></span>
              <select class="form-select" id="gender" name="gender">
                <option selected>Zgjidh gjinin</option>
                <option value="m">M</option>
                <option value="f">F</option>
              </select>
            </div>
          </div>

          <!-- Numri personal -->
          <div class="col-lg-4 mt-3">
            <label for="personalNum" class="form-label">Numri Personal</label>
            <div class="input-group">
              <span class="input-group-text"><i class="fas fa-id-card"></i></span>
              <input type="number" class="form-control" placeholder="Nr Personal..." id="personalNum" name="personalNum">
            </div>
          </div>

          <!-- Datelindja -->
          <div class="col-lg-4 mt-3">
            <label for="birthday" class="form-label">Datelindja</label>
            <div class="input-group">
              <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
              <input type="date" class="form-control" id="birthday" name="birthday">
            </div>
          </div>

          <!-- Lloji i moshes -->
          <div class="col-lg-4 mt-3">
            <label for="ageType" class="form-label">Lloji i moshes</label>
            <div class="input-group">
              <span class="input-group-text"><i class="fas fa-hourglass-half"></i></span>
              <select class="form-select" id="ageType" name="ageType">
                <option selected>Zgjidh llojin e moshes</option>
                <option value="years">Vjet</option>
                <option value="months">Muaj</option>
                <option value="weeks">Jave</option>
                <option value="days">Dite</option>
                <option value="hours">Or</option>
              </select>
            </div>
          </div>

          <!-- Qyteti -->
          <div class="col-lg-4 mt-3">
            <label for="city" class="form-label">Qyteti</label>
            <div class="input-group">
              <span class="input-group-text"><i class="fa-solid fa-building-user"></i></span>
              <input type="text" class="form-control" placeholder="Qyteti..." id="city" name="city">
            </div>
          </div>

          <!-- Adresa -->
          <div class="col-lg-4 mt-3">
            <label for="address" class="form-label">Adresa</label>
            <div class="input-group">
              <span class="input-group-text"><i class="fa-solid fa-location-dot"></i></span>
              <input type="text" class="form-control" placeholder="Adresa..." id="address" name="address">
            </div>
          </div>

          <!-- Komenti -->
          <div class="col-lg-4 mt-3">
            <label for="comment" class="form-label">Koment</label>
            <div class="input-group">
              <span class="input-group-text"><i class="fas fa-comment-dots"></i></span>
              <textarea class="form-control" id="comment" name="comment" rows="1" placeholder="Shkruaj një koment nese duhet..."></textarea>
            </div>
          </div>

          <!-- Sigurimi -->
          <div class="col-lg-4 mt-3">
            <label for="insurance" class="form-label">Sigurimi</label>
            <div class="input-group">
              <span class="input-group-text"><i class="fas fa-shield-alt"></i></span>
              <select class="form-select" id="insurance" name="insurance">
                <option selected>Zgjidh Sigurimin</option>
                <option value="hasInsurance">Ka sigurim</option>
                <option value="noInsurance">Ska sigurim</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Ruaj Ndryshimet</button>
      </div>
    </form>
  </div>
</div>

<!-- Modal për Fshirje Pacienti -->
<div class="modal fade" id="deletePatientModal" tabindex="-1" aria-labelledby="deletePatientLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form action="/delete/patient" method="POST" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger" id="deletePatientLabel">
          <i class="fa-solid fa-trash"></i> Konfirmo fshirjen
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Mbyll"></button>
      </div>
      <div class="modal-body">
        <input type="hidden" name="id" id="delete-id">
        <p>A jeni i sigurt që dëshironi të fshini pacientin <strong class="text-danger" id="delete-fullname"></strong>?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anulo</button>
        <button type="submit" class="btn btn-danger">Fshij</button>
      </div>
    </form>
  </div>
</div>