<%- include("../partials/dashboard.ejs") %>

<div class="container-fluid">
  <div class="row">
    <!-- Main Content -->
    <main class="col-lg-10 offset-lg-2 pt-4 px-4 bg-light min-vh-100">
      <div class="doctor-header d-flex align-items-center justify-content-between mt-3">
        <h1 class="add-doctor__title">Shto pacient te ri</h1>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Ballina</a></li>
            <li class="breadcrumb-item"><a href="/dashboard">Paneli</a></li>
            <li class="breadcrumb-item active" aria-current="page">Shto pacient</li>
          </ol>
        </nav>
      </div>

      <form action="/add/doctor" method="POST" class="bg-white shadow-lg p-5 rounded-3 mt-4">
        <div class="row mt-3">
          <!-- Name -->
          <div class="col-lg-4">
            <label for="fName" class="form-label">Emri</label>
            <div class="input-group mt-1">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
              <input type="text" class="form-control" placeholder="Emri..." id="name" name="fName">
            </div>
          </div>

          <!-- Department -->
          <div class="col-lg-4">
            <label for="parents-name" class="form-label">Emri i prindit</label>
            <div class="input-group mt-1">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
              <input type="text" class="form-control" placeholder="Emri i prindit..." id="parents-name" name="parentsName">
            </div>
          </div>

          <!-- Phone Number -->
          <div class="col-lg-4">
            <label for="last-name" class="form-label">Mbiemri</label>
            <div class="input-group mt-1">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
              <input type="number" class="form-control" placeholder="Mbiemri..." id="last-name" name="lName">
            </div>
          </div>

          <!-- Email -->
          <div class="col-lg-4 mt-3">
            <label for="email" class="form-label">Email</label>
            <div class="input-group mt-1">
              <span class="input-group-text"><i class="fas fa-envelope"></i></span>
              <input type="email" class="form-control" placeholder="Email..." id="email" name="email">
            </div>
          </div>

          <!-- GJINIA -->
          <div class="col-lg-4 mt-3">
                <label for="email" class="form-label">Gjinia</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-mars"></i></span>
                    <select class="form-select">
                        <option selected>Zgjidh gjinin</option>
                        <option value="m">M</option>
                        <option value="f">F</option>
                    </select>
                </div>
            </div>

            <div class="col-lg-4 mt-3">
                <label for="personal-num" class="form-label">Numri Personal</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-id-card"></i></span>
                    <input type="number" class="form-control" placeholder="Nr Personal..." id="personal-num" name="personalNum">
                </div>
            </div>

            <div class="col-lg-4 mt-3">
                <label for="birthday" class="form-label">Datelindja</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                    <input type="date" class="form-control" placeholder="Datlindja..." id="birthday" name="birthday">
                </div>
            </div>

            <div class="col-lg-4 mt-3">
                <label for="age-type" class="form-label">Lloji i moshes</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-hourglass-half"></i></span>
                    <select class="form-select" id="age-type" name="ageType">
                        <option selected>Zgjidh llojin e moshes</option>
                        <option value="years">Vjet</option>
                        <option value="months">Muaj</option>
                        <option value="weeks">Jave</option>
                        <option value="days">Dite</option>
                        <option value="hours">Or</option>
                    </select>
                </div>
            </div>

            <div class="col-lg-4 mt-3">
                <label for="city" class="form-label">Qyteti</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fa-solid fa-building-user"></i></span>
                    <input type="text" class="form-control" placeholder="Qyteti..." id="city" name="city">
                </div>
            </div>

            <div class="col-lg-4 mt-3">
                <label for="address" class="form-label">Adresa</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fa-solid fa-location-dot"></i></span>
                    <input type="text" class="form-control" placeholder="Adresa..." id="address" name="address">
                </div>
            </div>

            <div class="col-lg-4 mt-3">
              <label for="comment" class="form-label">Koment</label>
              <div class="input-group">
                <span class="input-group-text">
                  <i class="fas fa-comment-dots"></i>
                </span>
                <textarea class="form-control" id="comment" name="comment" rows="1" placeholder="Shkruaj një koment nese duhet..."></textarea>
              </div>
            </div>


            <div class="col-lg-4 mt-3">
                <label for="insurance" class="form-label">Sigurimi</label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-shield-alt"></i></span>
                    <select class="form-select" id="insurance" name="insurance">
                        <option selected>Zgjidh Sigurimin</option>
                        <option value="hasInsurance">Ka sigurim</option>
                        <option value="noInsurance">Ska sigurim</option>
                    </select>
                </div>
            </div>
        </div>

        <!-- Submit -->
        <button type="submit" class="btn btn-lg mt-4 add-doc__btn">
          <i class="fas fa-plus-circle"></i> Shto pacient
        </button>

        <% if (locals.success) { %>
          <p class="text-success mt-3" id="success-msg"><%= success %></p>
        <% } %>

        <% if (locals.error) { %>
          <p class="text-danger mt-3" id="error-msg"><%= error %></p>
        <% } %>
      </form>
    </main>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
  $(document).ready(function () {
    const errorMsg = $("#error-msg");
    const successMsg = $("#success-msg");

    if (errorMsg.length) {
      setTimeout(() => {
        errorMsg.fadeOut("slow");
      }, 5000);
    }

    if (successMsg.length) {
      setTimeout(() => {
        successMsg.fadeOut("slow");
      }, 5000);
    }
  });
</script>
